[package]
name = "spdx"
version = "0.3.6"
authors = ["Embark <opensource@embark-studios.com>", "Jake Shadle <jake.shadle@embark-studios.com>"]
description = "Helper crate for SDPX expressions"
edition = "2018"
homepage = "https://github.com/EmbarkStudios/spdx"
documentation = "https://docs.rs/spdx"
readme = "README.md"
keywords = ["spdx", "license"]
license = "MIT OR Apache-2.0"
repository = "https://github.com/EmbarkStudios/spdx"

include = [
    "Cargo.toml",
    "LICENSE-APACHE",
    "LICENSE-MIT",
    "src/**/*",
]

[dependencies]
lazy_static = "1.4"
smallvec = "1.6"

[dependencies.regex]
version = "1.4"
default-features = false
features = ["std"]

[dev-dependencies]
difference = "2.0"
