[package]
edition = "2018"
name = "spdx"
version = "0.1.0"
authors = ["Embark <opensource@embark-studios.com>", "Jake Shadle <jake.shadle@embark-studios.com>"]
description = "Helper crate for SDPX expressions"
homepage = "https://github.com/EmbarkStudios/spdx"
documentation = "https://docs.rs/spdx"
readme = "README.md"
keywords = ["spdx", "license"]
license = "MIT OR Apache-2.0"
repository = "https://github.com/EmbarkStudios/spdx"

[dependencies]
