on:
  push:
    branches:
      - main
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

name: CI
jobs:
  lint:
    name: Lint
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: "rustfmt,clippy"

      # make sure all code has been formatted with rustfmt
      - name: check rustfmt
        run: cargo fmt -- --check --color always

      # run clippy to verify we have no warnings
      - run: cargo fetch
      - name: clippy
        run: cargo clippy --all-targets --all-features -- -D warnings

  deny-check:
    name: cargo-deny check
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - uses: EmbarkStudios/cargo-deny-action@v2

  msrv-check:
    name: Minimum Stable Rust Version Check
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@1.85.0
      - run: cargo fetch
      - name: cargo check
        run: cargo check --all-targets --all-features

  test:
    name: Test
    strategy:
      matrix:
        os: [ubuntu-24.04]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
        with:
          lfs: true
      - run: git lfs checkout
      - uses: dtolnay/rust-toolchain@stable
      - run: cargo fetch
      - name: cargo build
        run: cargo build --tests --all-features
      - run: cargo test --all-features

  test_success:
    runs-on: ubuntu-24.04
    needs: [lint, test, deny-check, msrv-check]
    steps:
      - run: echo "All test jobs passed"
