on: push
name: Publish
jobs:
  publish:
    name: Publish
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/')
    steps:
    - uses: actions/checkout@v1
    - uses: actions-rs/toolchain@v1
      with:
        toolchain: stable
        override: true
    - name: cargo fetch
      uses: actions-rs/cargo@v1
      with:
        command: fetch
    - name: cargo build
      uses: actions-rs/cargo@v1
      with:
        command: build --tests
    - name: cargo test
      uses: actions-rs/cargo@v1
      with:
        command: test
    - name: cargo publish
      uses: actions-rs/cargo@v1
      env:
        CRATES_IO_TOKEN: ${{ secrets.CRATES_IO_TOKEN }}
      with:
        command: publish
